
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

h4{
  font-family: "Fraunces",serif;
    font-size: 40px;
    font-weight: 100;
  
}



.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px; /* Size of the dot */
  height: 20px;
  background-color: rgba(202, 69, 7, 0.5) ; /* Color of the dot */
  border-radius: 50%;
  pointer-events: none; /* Prevents the dot from interfering with clicks */
  z-index: 1000; /* Ensures the dot stays on top of other elements */
}

h5{
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
span{
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 100;
  font-size: 20vh;
}

@media screen and (max-width: 1024px) {
  h5 {
    font-size: 40px;
  }
}
html {
  scroll-behavior: smooth;
}


 /* Custom scrollbar styling */
 body::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
}

/* Transition for smooth appearance and disappearance */
.scrollbar-hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scrollbar-visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}